[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apache-airflow = "*"
flask-api = "*"
flask = "*"
requests = "*"
pandas = "*"
numpy = "*"
tdqm = "*"
python-dotenv = "*"
pyjstat = "*"

[dev-packages]

[requires]
python_version = "3.8"
